[submodule "libigl"]
	path = libigl
	url = https://github.com/libigl/libigl
[submodule "glfw"]
	path = glfw
	url = https://github.com/glfw/glfw.git
[submodule "eigen"]
	path = eigen-git-mirror
	url = https://github.com/eigenteam/eigen-git-mirror
[submodule "GAUSS"]
	path = GAUSS
	url = https://github.com/dilevin/GAUSS
[submodule "dgtal"]
	path = DGtal
	url = https://github.com/DGtal-team/DGtal
[submodule "imguizmo"]
	path = imguizmo
	url = https://github.com/alecjacobson/ImGuizmo
